.header {
  background-color: rgb(100, 97, 97);
  width: 100%;
  height: 90px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.header-left {
  display: flex;
  height: 50px;
  align-items: center;
}
.logo {
  margin-top: 10px;
  margin-left: 10px;
  width: 100px;
}

.tag-line {
  font-family: garamond;
  color: white;
  font-size: 16px;
  padding-left: 5px;
}

.header-right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 20px;
}

.search-container {
  width: 300px;
  height: 30px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  background: transparent;
  margin-right: 20px;
}

.search-bar {
  height: 25px;
  font-size: 16px;
  padding-left: 20px;
  width: 240px;
  background: transparent;
  border: 0;
  outline: none;
}

.search-bar::placeholder {
  font-family: garamond;
  margin-bottom: 20px;
  font-size: 16px;
  color: white;
}

.search-button {
  background: transparent;
  border: none;
}

.search-icon {
  margin-top: 5px;
  width: 16px;
}
.menu-button {
  height: 36px;
  font-family: garamond;
  font-size: 16px;
  font-weight: 300;
  padding: 3px 40px;
  background-color: rgb(231, 222, 211);
  border-width: 1px;
  border-radius: 25px;
  margin-right: 20px;
}

.main-section {
  margin-top: 10px;
  position: relative;
  width: 100%;
}

.main-section img {
  height: auto;
  width: 100%;
  object-fit: cover;
}

.taglines-box {
  position: absolute;
  bottom: 20%;
  left: 6%;
  width: 50%;
  color: white;
  font-family: "EB Garamond", serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
.major-tagline {
  line-height: 1;
  font-size: 6.1vw;
}

.minor-tagline {
  font-size: 1.5vw;
}

.vlog {
  background-color: rgb(84, 89, 112);
  height: 75vw;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.article-header {
  font-family: "EB Garamond", serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 5.1vw;
  margin-left: 5vw;
  margin-top: 0.5vw;
  margin-bottom: 0;
}

.articles-container {
  display: flex;
  justify-content: space-between;
  margin-left: 5vw;
  margin-top: 2vw;
  margin-right: 5vw;
}

.article {
  border: white;
  border-width: 1px;
  width: 400px;
  height: 60vw;
  border-style: solid;
}

.image-frame {
  width: 100%;
  height: 20vw;
  overflow: hidden;
}
.article-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.author {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  margin-left: 2.75vw;
  font-size: 1.25vw;
  margin-top: 2vw;
}

.title {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2vw;
  color: white;
  margin-top: 2vw;
  margin-left: 2.5vw;
  margin-right: 2vw;
}
.article-body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 1vw;
  line-height: 2vw;
  margin: 2.5vw;
  padding-bottom: 1vw;
  border-color: grey;
  border-bottom-width: 1px;
  border-style: solid;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  margin-bottom: 2vw;
}

.icons-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.view-icon {
  width: 1.5vw;
  margin-left: 2.5vw;
}

.view-number {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 0.85vw;
  margin-right: 15vw;
  margin-left: -3vw;
}

.like-icon {
  width: 1.25vw;
  float: right;
  margin-right: 2.5vw;
}

.services-section {
  background-color: rgb(104, 118, 161);
  margin-top: 1vw;
  height: 110vw;
}

.services-header {
  font-family: "EB Garamond", serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 5vw;
  margin: 1vw 5vw;
  padding-top: 2vw;
  border: 0;
  border-bottom: 1px;
  border-color: rgb(212, 210, 210);
  border-style: solid;
}

.services-group {
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
  margin-left: 5vw;
  margin-right: 5vw;
  justify-content: space-between;
}

.service {
  display: flex;
  flex-direction: column;
  height: 30vw;
  width: 43vw;
  border: 1px solid darkgray;
  padding: 1vw;
  margin-top: 2vw;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.service-name {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  text-align: center;
  margin-top: 1vw;
  font-size: 2vw;
}

.service-body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 1.25vw;
  line-height: 2vw;
  margin: 2.5vw 0;
}

.contact {
  color: white;
  background-color: rgb(102, 216, 8);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5vw;
  width: 10vw;
  align-items: center;
  border-radius: 25px;
  padding: 10px 20px;
  border: 0;
  margin-bottom: 1vw;
}

.about-section {
  background-color: rgb(67, 125, 190);
  margin-top: 1vw;
  color: white;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.about-title {
  font-family: garamond;
  margin-top: 2vw;
  margin-left: 5vw;
  font-size: 5vw;
  position: absolute;
}

.image-story {
  display: flex;
  margin-top: 8vw;
  margin-left: 2vw;
  margin-bottom: 3vw;
  border: 1px solid darkgray;
  margin-right: 2vw;
}

.aboutus-frame {
  margin-right: 2vw;
  width: 40%;
  overflow: hidden;
}

.aboutus-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about {
  display: flex;
  align-items: right;
  width: 200px;
}
.sub-title {
  font-size: 3vw;
}

.about-body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  font-size: 1.25vw;
  line-height: 2vw;
  margin-right: 2vw;
  width: 50vw;
}

.clientstories-section {
  background-color: rgb(255, 244, 184);
  margin-top: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.client-title {
  font-size: 4vw;
  margin-top: 10vw;
  margin-left: 3vw;
}

.client {
  display: flex;
  flex-direction: column;
  height: 38vw;
  width: 30vw;
  line-height: 1.25;
  border: 1px solid darkgray;
  padding: 2vw;
  margin: 2vw;

  align-items: center;
  box-sizing: border-box;
}

.client-name {
  margin-top: 3vw;
}

.company-contact {
  background-color: rgb(89, 172, 250);
  margin-top: 1vw;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.company {
  font-size: 3vw;
  margin-top: 1vw;
  margin-left: 1vw;
  margin-bottom: 1vw;
  width: 100%;
}

.contact-group {
  display: flex;
  justify-content: space-between;
}

.phone-email {
  margin-left: 2vw;
  width: 20vw;
  line-height: 1.5;
}

.address {
  width: 15vw;
  text-align: start;
  line-height: 1.5;
}

.social-media {
  display: flex;
  align-items: center;
  width: 10vw;
  justify-content: space-between;
  margin-right: 2vw;
  margin-bottom: 2vw;
}

.linkedin {
  width: 2vw;
}

.facebook {
  width: 4vw;
}

.youtube {
  width: 2vw;
}

.Chat-container {
  position: fixed;
  bottom: 6vw;
  right: 3vw;
  z-index: 100;
}
.chat-button {
  display: flex;
  width: 15vw;
  border-radius: 50px;
  background-color: rgb(97, 96, 96);
  color: lightgray;
  font-size: 1vw;
  align-items: center;
  justify-content: space-between;
  border: 0;
}

.chat-icon {
  width: 2.5vw;
  margin-top: 1vw;
  margin-left: 3vw;
  margin-bottom: 1vw;
}

.letchat {
  margin-right: 3vw;
  font-weight: 700;
  margin-top: 1vw;
  margin-bottom: 1vw;
  margin-left: 1vw;
  width: 10vw;
  white-space: nowrap;
}
